<div class="flex flex-col items-center justify-center w-full h-full">
    <div class="w-full max-w-3xl">
        <div class="max-w-none mx-auto prose prose-sm">
            <img
                class="w-20"
                src="assets/images/logo/logo.svg"
                alt="Logo image">
            <h1>VendorAPI</h1>
            <p>
                Join thousands of product sellers and manufacturers that trust VendorAPI to manage their inventory. Get products to more customers more efficiently, through more sales channels—faster than ever before.
            </p>
            <p>
                More than 17k people joined us, it's your turn
            </p>
        </div>
        <div>
            <a
                class="mt-8"
                mat-flat-button
                [color]="'primary'"
                [routerLink]="'/dashboards/project'">
                <span>Home</span>
                <mat-icon
                    class="ml-2 icon-size-5"
                    [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
            </a>
        </div>
    </div>
</div>
