<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
    <div class="w-full sm:w-auto py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12">
                <img src="assets/images/logo/logo.svg">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Sign in</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>Don't have an account?</div>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['/sign-up']">Sign up
                </a>
            </div>

            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                <div class="text-lg">{{alert.message}}</div>
                <ng-container class="mt-2" *ngIf="alert.validationMessages">
                    <ul class="w-full" >
                        <li class="flex text-md" *ngFor="let message of alert.validationMessages">
                            <mat-icon mat-list-icon [svgIcon]="'arrow_right'"></mat-icon>
                            <div>{{message}}</div>
                        </li>
                    </ul>
                </ng-container>
                <ng-container *ngIf="lastEmail">
                    <div class="mt-4">
                        <a
                            class="text-primary-500 hover:underline"
                            [routerLink]="['/resend-email-verification', {email: lastEmail, skipLocationChange: true}]">Resend email verification
                        </a>
                    </div>
                </ng-container>
            </fuse-alert>

            <!-- Sign in form -->
            <form
                class="mt-8"
                [formGroup]="signInForm"
                #signInNgForm="ngForm">

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Email address</mat-label>
                    <input
                        id="email"
                        matInput
                        [formControlName]="'email'">
                    <mat-error *ngIf="signInForm.get('email').hasError('required') 
                         && (signInForm.get('email').dirty || signInForm.get('email').touched || signInNgForm.submitted)">
                        Email address is required
                    </mat-error>
                    <mat-error *ngIf="signInForm.get('email').hasError('email')
                        && (signInForm.get('email').dirty || signInForm.get('email').touched)">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="signInForm.get('email').hasError('maxlength')
                        && (signInForm.get('email').dirty || signInForm.get('email').touched)">
                        Email address is too big
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Password</mat-label>
                    <input
                        id="password"
                        matInput
                        type="password"
                        [formControlName]="'password'"
                        #passwordField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-hint *ngIf="signInForm.get('password').invalid">Password should contain a lowercase and a uppercase letter, a digit and a non-alphanumeric character</mat-hint>
                    <mat-error *ngIf="signInForm.get('password').hasError('required')  
                        && (signInForm.get('password').dirty || signInForm.get('password').touched || signInNgForm.submitted)">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="signInForm.get('password').hasError('minlength') 
                        && (signInForm.get('password').dirty || signInForm.get('password').touched)">
                        Password length should be at least six
                    </mat-error>
                    <mat-error *ngIf="signInForm.get('password').hasError('maxlength')
                        && (signInForm.get('password').dirty || signInForm.get('password').touched)">
                        Password is too big, please choose a length less than sixty-four
                    </mat-error>
                    <mat-error *ngIf="signInForm.get('password').hasError('pattern')
                       && (signInForm.get('password').dirty || signInForm.get('password').touched)">
                        Please enter a lowercase and a uppercase letter, a digit and a non-alphanumeric character at least
                    </mat-error>
                </mat-form-field>

                <!-- Actions -->
                <div class="inline-flex items-end justify-between w-full mt-1.5">
                    <mat-checkbox
                        [color]="'primary'"
                        [formControlName]="'rememberMe'">
                        Remember me
                    </mat-checkbox>
                    <a
                        class="text-md font-medium text-primary-500 hover:underline"
                        [routerLink]="['/forgot-password']">Forgot password?
                    </a>
                </div>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    type="button"
                    [color]="'primary'"
                    [disabled]="signInForm.disabled"
                    (click)="signIn()">
                    <span *ngIf="!signInForm.disabled">
                        Sign in
                    </span>
                    <mat-progress-spinner
                        *ngIf="signInForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </form>
        </div>
    </div>
</div>
