<div class="w-full max-w-3xl">

    <!-- Form -->
    <form [formGroup]="changePasswordForm" #changePasswordNgForm="ngForm">

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">Change your password</div>
            <div class="text-secondary">It's recomended to change your password regularly for protectiction against
                password theft attacks!</div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Current password -->
            <div class="sm:col-span-4">
                <mat-form-field class="w-full">
                    <mat-label>Current password</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:key'" matPrefix></mat-icon>
                    <input [formControlName]="'currentPassword'" type="password" matInput #passwordField>
                    <button mat-icon-button type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error *ngIf="(changePasswordForm.get('currentPassword').hasError('required') 
                            || changePasswordForm.get('currentPassword').hasError('minlength') || 
                            changePasswordForm.get('currentPassword').hasError('maxlength') || 
                            changePasswordForm.get('currentPassword').hasError('pattern')) && 
                            (changePasswordForm.get('currentPassword').dirty ||
                            changePasswordForm.get('currentPassword').touched || 
                            changePasswordNgForm.submitted)">Password is incorrect</mat-error>

                </mat-form-field>
            </div>

            <!-- New password -->
            <div class="sm:col-span-4">
                <mat-form-field class="w-full">
                    <mat-label>New password</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:key'" matPrefix></mat-icon>
                    <input [formControlName]="'newPassword'" type="password" matInput #passwordField2>
                    <button mat-icon-button type="button"
                        (click)="passwordField2.type === 'password' ? passwordField2.type = 'text' : passwordField2.type = 'password'"
                        matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="passwordField2.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="passwordField2.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error *ngIf="(changePasswordForm.get('newPassword').hasError('required') 
                            || changePasswordForm.get('newPassword').hasError('minlength') 
                            || changePasswordForm.get('newPassword').hasError('maxlength')
                            || changePasswordForm.get('newPassword').hasError('pattern')) && 
                            (changePasswordForm.get('newPassword').dirty ||
                            changePasswordForm.get('newPassword').touched || changePasswordNgForm.submitted)">Password
                        format is incorrect</mat-error>

                    <mat-error *ngIf="changePasswordForm.hasError('passwordsEqual')">Passwords can not be same
                    </mat-error>
                </mat-form-field>
                <div class="mt-1 text-md text-hint">Minimum 6 characters. Must include numbers, letters and special
                    characters.</div>
            </div>

            <!-- Confirm new password -->
            <div class="sm:col-span-4">
                <mat-form-field class="w-full">
                    <mat-label>Confirm new password</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:key'" matPrefix></mat-icon>
                    <input [formControlName]="'confirmNewPassword'" type="password" matInput #passwordField3>
                    <button mat-icon-button type="button" (click)="passwordField3.type === 'password' ?
                             passwordField3.type = 'text' : passwordField3.type = 'password'" matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="passwordField3.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="passwordField3.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error>Password and confirm password must match</mat-error>
                </mat-form-field>
                <div class="mt-1 text-md text-hint">Minimum 6 characters. Must include numbers, letters and special
                    characters.</div>
            </div>
        </div>

        <!-- Password Change Alert -->
        <fuse-alert class="mt-8 -mb-4" *ngIf="showChangePasswordAlert" [appearance]="'outline'" [showIcon]="false"
            [type]="passwordChangeAlert.type" [@shake]="passwordChangeAlert.type === 'error'">
            <div class="text-lg">{{passwordChangeAlert.message}}</div>
        </fuse-alert>


        <!-- Actions -->
        <div class="flex items-center justify-end mt-10">
            <button mat-stroked-button type="button" (click)=" cancelPasswordChange()">
                Cancel
            </button>
            <button class="ml-4" mat-flat-button type="button" [color]="'primary'" (click)="onPasswordChangeSubmit()">
                <span *ngIf="!changePasswordForm.disabled">Save</span>
                <mat-progress-spinner *ngIf="changePasswordForm.disabled" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </div>
    </form>

    <!-- Divider -->
    <div class="my-10 border-t"></div>

    <!-- Section change email -->
    <div class="w-full">
        <div class="text-xl">Change your email (User ID)</div>
        <div class="text-secondary">You will be prompted to enter the verification code sent to the new email address.
        </div>
    </div>
    <!-- New email input form-->
    <form *ngIf="!emailChangeExpiry" class="my-10" [formGroup]="changeEmailForm" #changeEmailNgForm="ngForm">
        <div class="sm:col-span-4">
            <mat-form-field class="w-full">
                <mat-label>New email address</mat-label>
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:mail'" matPrefix></mat-icon>
                <input [formControlName]="'email'" type="email" matInput>
                <mat-error *ngIf="changeEmailForm.get('email').hasError('required') && 
                    (changeEmailForm.get('email').dirty || changeEmailForm.get('email').touched 
                    || changeEmailNgForm.submitted)">Email address is required</mat-error>

                <mat-error *ngIf="changeEmailForm.get('email').hasError('maxlength') && 
                    (changeEmailForm.get('email').dirty || 
                    changeEmailForm.get('email').touched)">Email address is too big</mat-error>

                <mat-error *ngIf="changeEmailForm.get('email').hasError('email') && 
                    (changeEmailForm.get('email').dirty || 
                    changeEmailForm.get('email').touched)">A valid email address is required</mat-error>
            </mat-form-field>
        </div>

        <!-- Actions -->
        <div class="flex items-center justify-end mt-10">
            <button type="button" mat-stroked-button type="button" (click)="cancelEmailChange()">
                Cancel
            </button>
            <button type="button" class="ml-4" mat-flat-button type="button" [color]="'primary'"
                (click)="onEmailChangeSubmit()">
                <span *ngIf="!changeEmailForm.disabled">Submit</span>
                <mat-progress-spinner *ngIf="changeEmailForm.disabled" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </div>
    </form>

    <!-- Email Change Request Alert -->
    <fuse-alert class="mt-8 -mb-4" *ngIf="showChangeEmailRequestAlert" [appearance]="'outline'" [showIcon]="false"
        [dismissible]="true" [type]="emailChangeRequestAlert.type" [@shake]="emailChangeRequestAlert.type === 'error'">
        <div class="text-lg">{{emailChangeRequestAlert.message}}</div>
    </fuse-alert>

    <!-- Verification token submit form -->
    <form *ngIf="emailChangeExpiry" [formGroup]="changeEmailVerificationForm" #changeEmailVerificationNgForm="ngForm">
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- New email token -->
            <div class="sm:col-span-4">
                <mat-form-field class="w-full">
                    <mat-label>Code sent to the new email address</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:hashtag'" matPrefix></mat-icon>
                    <input [formControlName]="'token'" type="text" matInput>
                    <mat-error>A valid code is required</mat-error>
                </mat-form-field>
            </div>
        </div>

        <!-- Countdown timer-->
        <ng-container *ngIf="emailChangeCountdown > 0">
            <div class="w-full">
                <span class="text-secondary">Code expires in: </span>
                <span class="text-xl font-semibold">{{emailChangeCountdown | countdown}}</span>
            </div>
        </ng-container>

        <!-- Actions -->
        <div class="flex items-center justify-end mt-10">
            <button type="button" mat-stroked-button type="button" (click)="cancelEmailChangeTokenSubmit()">
                Cancel
            </button>
            <button type="button" class="ml-4" mat-flat-button type="button" [color]="'primary'"
                (click)="onEmailChangeTokenSubmit()">
                <span *ngIf="!changeEmailVerificationForm.disabled">Submit</span>
                <mat-progress-spinner *ngIf="changeEmailVerificationForm.disabled" [diameter]="24"
                    [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </div>
    </form>

    <!-- Email Change Verification Alert (Success/fail) -->
    <fuse-alert class="mt-8 -mb-4" *ngIf="showChangeEmailVerificaionAlert" [appearance]="'outline'" [dismissible]="true"
        [showIcon]="false" [type]="emailChangeVerificaionAlert.type"
        [@shake]="emailChangeVerificaionAlert.type === 'error'">
        <div class="text-lg">{{emailChangeVerificaionAlert.message}}</div>
    </fuse-alert>

    <!-- Divider -->
    <div class="my-10 border-t"></div>

    <!-- Section change phone -->
    <div class="w-full">
        <div class="text-xl">Change your phone number</div>
        <div class="text-secondary">You will be prompted to enter the verification one time password (OTP) sent to the
            new phone number.</div>
    </div>
    <!-- New phone input form-->
    <form class="my-10" *ngIf="!phoneChangeExpiry" [formGroup]="changePhoneForm" #changePhoneNgForm="ngForm">
        <div class="sm:col-span-4">
            <mat-form-field class="w-full">
                <mat-label>New phone number</mat-label>
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:phone'" matPrefix></mat-icon>
                <input [formControlName]="'newPhone'" type="tel" matInput>
                <mat-select class="mr-1.5" [formControlName]="'country'" matPrefix>
                    <mat-select-trigger>
                        <span class="flex items-center">
                            <span class="hidden sm:flex w-6 h-4 mr-1 overflow-hidden"
                                [style.background]="'url(\'/assets/images/apps/contacts/flags.png\') no-repeat 0 0'"
                                [style.backgroundSize]="'24px 3876px'"
                                [style.backgroundPosition]="getCountryByIso(changePhoneForm.get('country').value)?.flagImagePos"></span>
                            <span
                                class="sm:mx-0.5 font-medium text-default">{{getCountryByIso(changePhoneForm.get('country').value)?.code}}</span>
                        </span>
                    </mat-select-trigger>
                    <ng-container *ngFor="let country of countryList; trackBy: trackByFn">
                        <mat-option [value]="country.iso">
                            <span class="flex items-center">
                                <span class="w-6 h-4 overflow-hidden"
                                    [style.background]="'url(\'/assets/images/apps/contacts/flags.png\') no-repeat 0 0'"
                                    [style.backgroundSize]="'24px 3876px'"
                                    [style.backgroundPosition]="country?.flagImagePos"></span>
                                <span class="ml-2">{{country.name}}</span>
                                <span class="ml-2 font-medium">{{country.code}}</span>
                            </span>
                        </mat-option>
                    </ng-container>
                </mat-select>
                <mat-error
                    *ngIf="changePhoneForm.get('newPhone').hasError('required') && 
                    (changePhoneForm.get('newPhone').dirty || changePhoneForm.get('newPhone').touched || changePasswordNgForm.submitted)">
                    The field is required</mat-error>
                <mat-error *ngIf="changePhoneForm.get('newPhone').hasError('pattern') && 
                    (changePhoneForm.get('newPhone').dirty || changePhoneForm.get('newPhone').touched)">A valid phone
                    number is required, only digits are allowed</mat-error>
            </mat-form-field>
        </div>

        <!-- Actions -->
        <div class="flex items-center justify-end mt-10">
            <button type="button" mat-stroked-button type="button" (click)="cancelPhoneChange()">
                Cancel
            </button>
            <button type="button" class="ml-4" mat-flat-button type="button" [color]="'primary'"
                (click)="onPhoneChangeSubmit()">
                <span *ngIf="!changePhoneForm.disabled">Submit</span>
                <mat-progress-spinner *ngIf="changePhoneForm.disabled" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </div>
    </form>

    <!-- Phone Change Request Alert -->
    <fuse-alert class="mt-8 -mb-4" *ngIf="showChangePhoneRequestAlert" [appearance]="'outline'" [showIcon]="false"
        [dismissible]="true" [type]="phoneChangeRequestAlert.type" [@shake]="phoneChangeRequestAlert.type === 'error'">
        <div class="text-lg">{{phoneChangeRequestAlert.message}}</div>
    </fuse-alert>

    <!-- Verification OTP submit form -->
    <form *ngIf="phoneChangeExpiry" [formGroup]="changePhoneVerificationForm" #changePhoneVerificationNgForm="ngForm">
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">

            <!-- New phone OTP -->
            <div class="sm:col-span-4">
                <mat-form-field class="w-full">
                    <mat-label>OTP sent to the new phone number</mat-label>
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:hashtag'" matPrefix></mat-icon>
                    <input [formControlName]="'token'" type="text" matInput>
                    <mat-error>A valid OTP is required</mat-error>
                </mat-form-field>
            </div>
        </div>

        <!-- Countdown timer-->
        <ng-container *ngIf="phoneChangeCountdown > 0">
            <div class="w-full">
                <span class="text-secondary">Code expires in: </span>
                <span class="text-xl font-semibold">{{phoneChangeCountdown | countdown}}</span>
            </div>
        </ng-container>

        <!-- Actions -->
        <div class="flex items-center justify-end mt-10">
            <button type="button" mat-stroked-button type="button" (click)="cancelPhoneChangeTokenSubmit()">
                Cancel
            </button>
            <button type="button" class="ml-4" mat-flat-button type="button" [color]="'primary'"
                (click)="onPhoneChangeTokenSubmit()">
                <span *ngIf="!changePhoneVerificationForm.disabled">Submit</span>
                <mat-progress-spinner *ngIf="changePhoneVerificationForm.disabled" [diameter]="24"
                    [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </div>
    </form>

    <!-- Phone Change Verification Alert (Success/fail) -->
    <fuse-alert class="mt-8 -mb-4" *ngIf="showChangePhoneVerificaionAlert" [appearance]="'outline'" [dismissible]="true"
        [showIcon]="false" [type]="phoneChangeVerificaionAlert.type"
        [@shake]="phoneChangeVerificaionAlert.type === 'error'">
        <div class="text-lg">{{phoneChangeVerificaionAlert.message}}</div>
    </fuse-alert>

    <!-- Divider -->
    <div class="my-10 border-t"></div>

    <!-- Section -->
    <div class="w-full">
        <div class="text-xl">Security preferences</div>
        <div class="text-secondary">Keep your account more secure with following preferences.</div>
    </div>
    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
        <!-- 2-step auth -->
        <div class="sm:col-span-4 flex items-center justify-between">
            <div class="flex-auto cursor-pointer">
                <div class="leading-6 font-medium">Two-step authentication</div>
                <div class="text-md text-secondary">
                    Protects you against password theft by requesting an authentication code via Email,
                    SMS or smartphone app on every login.
                </div>
            </div>
        </div>
        <div class="sm:col-span-4">
            <form [formGroup]="twoFASetupForm">
                <mat-form-field class="w-full">
                    <mat-label>Status</mat-label>
                    <mat-select [panelClass]="'w-72 min-w-72 max-w-72 h-auto max-h-none'" 
                        [compareWith]="compareTwoFAOptions"
                        [formControlName]="'twoFactorOption'"
                        disableOptionCentering
                        (selectionChange)="twoFASelectionChange($event.value)"
                        [disabled]="!twoFAEditMode" 
                        
                        #twoFAOptions="matSelect">
                        <mat-select-trigger class="text-md">
                            <span class="ml-1 font-medium text-black">{{twoFAOptions.value?.label}}</span>
                        </mat-select-trigger>
                        <ng-container *ngFor="let ops of twoFaOptions">
                            <mat-option class="h-auto py-4 leading-none" [value]="ops">
                                <div class="font-medium">{{ops.label}}</div>
                                <div class="mt-1.5 text-sm whitespace-normal leading-normal text-secondary">
                                    {{ops.details}}</div>
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>

                <!-- Auth App config -->
                <div class="flex flex-col" *ngIf="twoFAVerificationExpiry && needAuthenticatorSetup">
                    <div class="flex flex-col">
                        <div class="my-1"><b>Step 1.</b> Install an authenticator app on your smartphone. Example:
                            Google Authenticator, Microsoft Authenticator, Twilio Authy etc.</div>
                        <div class="my-1"><b>Step 2.</b> Open you app and scan the QR code below or use the code to
                            setup the authenticator for this app.</div>
                        <div class="w-50">
                            <img class="my-2" [src]="authenticatorConfig.qr">
                        </div>
                        <mat-form-field [ngClass]="formFieldHelpers">
                            <mat-label>Code for manual entry (time based)</mat-label>
                            <input readonly matInput [value]="authenticatorConfig.authenticatorSetupKey" #setupCode>
                            <button type="button" mat-icon-button class="cursor-pointer" matSuffix
                                [cdkCopyToClipboard]="setupCode.value"
                                (click)="openSnackBar('code copied!', null, 500)">
                                <mat-icon [svgIcon]="'heroicons_outline:clipboard-copy'"></mat-icon>
                            </button>
                        </mat-form-field>

                        <!-- Authenticator Verification code -->
                        <div class="my-1">
                            <div class="my-1"><b>Step 3.</b> Enter the verification code from the authenticator app (without space) and click on save button.</div>
                            <mat-form-field class="w-full my-1">
                                <mat-label>Verification code</mat-label>
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:hashtag'" matPrefix>
                                </mat-icon>
                                <input [formControlName]="'verificationCode'" type="text" matInput>
                                <mat-error>A valid code is required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- Countdown timer-->
                <ng-container *ngIf="twoFAVerificationCountdown > 0">
                    <div class="w-full mt-2">
                        <span class="text-secondary">Expires in: </span>
                        <span class="text-xl font-semibold">{{twoFAVerificationCountdown | countdown}}</span>
                    </div>
                </ng-container>

                <!-- 2FA alert -->
                <fuse-alert class="mt-8 -mb-4" *ngIf="showTwoFAAlert" [appearance]="'outline'"
                    [dismissible]="false" [showIcon]="false" [type]="twoFAAlert.type"
                    [@shake]="twoFAAlert.type === 'error'">
                    <div class="text-lg">{{twoFAAlert.message}}</div>
                </fuse-alert>

                <!-- Divider -->
                <div class="mt-11 mb-8"></div>

                <!-- Actions -->
                <ng-container *ngIf="twoFAEditMode; else twoFAViewMode">
                    <div class="flex items-center justify-end">
                        <button mat-stroked-button (click)="cancelTwoFAEditMode()" type="button">
                            Cancel
                        </button>
                        <button [disabled]="disableTwoFAForm"
                         class="ml-4" mat-flat-button type="submit"
                         (click)="updateTwoFA()"
                         [color]="'primary'">

                            <span *ngIf="!twoFASetupForm.disabled">Save</span>

                            <mat-progress-spinner *ngIf="twoFASetupForm.disabled"
                                [diameter]="24"
                                [mode]="'indeterminate'">
                            </mat-progress-spinner>
                        </button>
                    </div>
                </ng-container>
                <ng-template #twoFAViewMode>
                    <div class="flex items-center justify-end">
                        <button mat-stroked-button [color]="'primary'" (click)="enabletwoFAEditMode()" type="button">
                            Edit
                        </button>
                    </div>
                </ng-template>
            </form>

            <!-- 2FA alert -->
            <fuse-alert class="mt-8 -mb-4" *ngIf="showTwoFAUpdateAlert" [appearance]="'outline'"
                [dismissible]="true" [showIcon]="false" [type]="twoFAUpdateAlert.type"
                [@shake]="twoFAUpdateAlert.type === 'error'">
                <div class="text-lg">{{twoFAUpdateAlert.message}}</div>
                <div class="mt-2" *ngIf="twoFAUpdateAlert.recoveryCodes">
                    Please store the recovery codes below in a safe place. Recovery codes can be used to log in when you lose
                    access to your authenticator app. Each code can be used only once.

                    <ul class="list-decimal px-8 py-4">
                        <li class="text-3xl py-2" *ngFor="let code of twoFAUpdateAlert.recoveryCodes">{{code}}</li>
                    </ul>
                </div>
            </fuse-alert>

            <!-- Divider -->
            <div class="mt-11 mb-10 border-t"></div>
        </div>
        <!-- Ask to change password -->
        <div class="sm:col-span-4 flex items-center justify-between">
            <div class="flex-auto cursor-pointer">
                <div class="leading-6 font-medium">Lock session in case of inactivity</div>
                <div class="text-md text-secondary">
                    Protects you from somebody using the logged in session from your device. Your session will be locked
                    after a period of inactivity and you'll need to enter your password to unlock.
                </div>
            </div>
            <mat-slide-toggle [checked]="authStatus.sessionLockEnabled"
            [disabled]="sessionLockSettingInProgress"
            (change)="onSessionLockSettingToggle($event)"
             class="ml-4" [color]="'primary'" #lockSessionToggle>
            </mat-slide-toggle>
        </div>
    </div>

</div>