<div class="flex flex-col w-full">

    <!-- View mode -->
    <ng-container *ngIf="!previewMode">

        <!-- Header -->
        <div class="relative w-full flex items-center justify-end px-8 sm:px-12">
            <!-- Mark button -->
            <div class="flex items-center justify-end max-w-3xl mr-2 py-2">
                <button mat-icon-button 
                    [matTooltip]="accountApproval?.isRead ? 'Mark as unread': 'Mark as read'" 
                    class="bg-accent-100 dark:bg-accent-700"
                    (click)="markReadStatus(accountApproval.id, !(accountApproval.isRead === true))">
                    <mat-icon class="text-white" [svgIcon]="accountApproval?.isRead? 'heroicons_solid:mail-open': 'mark_as_unread'"></mat-icon>
                </button>
            </div>

            <!-- Close button -->
            <div class="flex items-center justify-end max-w-3xl py-2">
                <button mat-icon-button [matTooltip]="'Close'" [routerLink]="['../']" class="bg-accent-100 dark:bg-accent-700">
                    <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>
        </div>

        <!-- accountApproval -->
        <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
            <div class="w-full max-w-3xl">

                <!-- Name -->
                <div class="mt-3 text-4xl font-bold truncate">{{accountApproval?.businessName}}</div>

                <!-- Tags -->
                <div class="flex flex-wrap items-center mt-2">
                    <!-- Tag -->
                    <div
                        class="flex items-center justify-center py-1 px-3 mr-3 mb-3">
                        <span
                            class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                            [ngClass]="{'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': accountApproval?.status === 'rejected',
                                        'bg-blue-200 text-blue-800 dark:bg-blue-600 dark:text-blue-50': accountApproval?.status === 'pending',
                                        'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': accountApproval?.status === 'approved'}">
                                        {{accountApproval.status}}
                        </span>
                    </div>
                </div>

                <div class="flex flex-col mt-4 pt-6 border-t space-y-8">
                    <!-- ID photo -->
                    <ng-container>
                        <!-- Image -->
                        <div class="flex items-center">
                            <div class="w-full relative flex flex-0 items-center justify-center mr-6 rounded overflow-hidden border">
                                <img
                                    class="max-h-60 object-contain"
                                    [alt]="'ID card image'"
                                    [src]="accountApproval?.identityImageBase64">
                                <button mat-icon-button class="absolute bottom-6 right-6 bg-white" (click)="download(accountApproval?.identityImageBase64, 'ID_'+accountApproval.id);">
                                    <mat-icon>download</mat-icon>
                                </button>
                            </div>
                        </div>
                    </ng-container>
                    
                    <!-- Name -->
                    <ng-container>
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'mat_solid:person'"></mat-icon>
                            <div class="ml-6 leading-6">{{accountApproval.userName}}</div>
                        </div>
                    </ng-container>

                    <!-- ID -->
                    <ng-container>
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:identification'"></mat-icon>
                            <div class="ml-6 leading-6">{{accountApproval.identityDocType}}: {{accountApproval.idNumber}}</div>
                        </div>
                    </ng-container>

                    <!-- Emails -->
                    <ng-container>
                        <div class="flex">
                            <mat-icon [svgIcon]="'heroicons_outline:mail'"></mat-icon>
                            <div class="min-w-0 ml-6 space-y-1">
                                <div class="text-md truncate">
                                    <span class="font-medium">{{accountApproval.email}}</span>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <!-- Phone -->
                    <ng-container>
                        <div class="flex">
                            <mat-icon [svgIcon]="'heroicons_outline:phone'"></mat-icon>
                            <div class="min-w-0 ml-6 space-y-1">
                                    <div class="flex items-center leading-6">
                                        <div class="hidden sm:flex w-6 h-4 overflow-hidden"
                                            [matTooltip]="getCountryByIso(accountApproval?.phoneNumber?.countryCode)?.name"
                                            [style.background]="'url(\'/assets/images/apps/account-approval/flags.png\') no-repeat 0 0'"
                                            [style.backgroundSize]="'24px 3876px'"
                                            [style.backgroundPosition]="getCountryByIso(accountApproval?.country)?.flagImagePos">
                                        </div>
                                        <div class="ml-2.5 font-mono">{{accountApproval?.phoneNumber}}</div>
                                    </div>
                            </div>
                        </div>
                    </ng-container>

                    <!-- Address -->
                    <ng-container>
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:location-marker'"></mat-icon>
                            <div class="ml-6 leading-6">{{accountApproval?.addressLine1}} {{accountApproval?.addressLine2}}</div>
                        </div>
                    </ng-container>

                    <!-- City, Zip, Country -->
                    <ng-container>
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'heroicons_outline:location-marker'"></mat-icon>
                            <div class="ml-6 leading-6">{{accountApproval?.city | titlecase}}, {{accountApproval?.state | uppercase}}, P-{{accountApproval?.zip}}, {{accountApproval?.country | uppercase}}</div>
                        </div>
                    </ng-container>

                    <!-- Website -->
                    <ng-container >
                        <div class="flex sm:items-center">
                            <mat-icon [svgIcon]="'web'"></mat-icon>
                            <div class="ml-6 leading-6">{{accountApproval?.website}}</div>
                        </div>
                    </ng-container>

                    <!-- Attachments -->
                    <ng-container *ngIf="accountApproval?.companyDocuments && accountApproval?.companyDocuments?.length > 0">
                        <div class="flex flex-col w-full">
                            <!-- Title -->
                            <div class="flex items-center mt-12">
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:paper-clip'"></mat-icon>
                                <div class="ml-2 font-semibold">{{accountApproval?.companyDocuments.length}} Attachments</div>
                            </div>

                            <!-- Files -->
                            <div class="flex flex-col flex-wrap -m-3 mt-3">
                                <ng-container *ngFor="let attachment of accountApproval?.companyDocuments; let i=index;">
                                    <div *ngIf="attachment !== null" class="flex items-center m-3">
                                        <div
                                            class="flex items-center justify-center w-10 h-10 rounded-md overflow-hidden bg-primary-100">
                                            <div class="text-sm font-semibold text-primary-500-800">
                                                {{attachment?.fileExt}}
                                            </div>
                                        </div>
                                        <!-- File info -->
                                        <div class="ml-3">
                                            <div
                                                class="text-md font-medium truncate max-v max-w-40 sm:max-w-100"
                                                [title]="attachment?.fileName">
                                                {{attachment?.fileName}}
                                            </div>
                                            <div
                                                class="text-sm font-medium truncate text-secondary"
                                                [title]="attachment?.fileSize">
                                                {{attachment.fileSize| number:'1.0-2'}} MB
                                            </div>
                                        </div>

                                        <!-- Action -->
                                        <div class="ml-auto flex">
                                            <!-- Preview -->
                                            <button 
                                                [disabled]="['.doc', '.docx', '.xls', '.xlsx'].includes(attachment.fileExt)"
                                                 mat-icon-button color="primary" (click)="preview(attachment, attachment.fileExt)" class="mr-2">
                                                <mat-icon>preview</mat-icon>
                                            </button>
                                            <!-- Download -->
                                            <button mat-icon-button color="primary" (click)="downloadFile(attachment.filePath, attachment.fileName)">
                                                <mat-icon>download</mat-icon>
                                            </button>

                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>

                    <!-- Message -->
                    <ng-container>
                        <div class="mt-4">
                            <div class="py-2">Message to customer</div>
                             <!-- Message Body -->
                            <quill-editor
                                [(ngModel)]="verdictMessage"
                                class="mt-2"
                                [modules]="quillModules">
                            </quill-editor>
                        </div>
                    </ng-container>

                    <!-- Approve action -->
                    <ng-container>
                        <div class="flex items-center">
                            <button [disabled]="accountApproval?.isApproved !== null"
                                 mat-raised-button color="primary"
                                 (click)="accept()" class="mr-2">Approve
                            </button>
                            <button [disabled]="accountApproval?.isApproved !== null"
                                 mat-raised-button color="warn" 
                                 (click)="reject()" class="mr-2">Reject
                            </button>
                        </div>
                    </ng-container>
                </div>

            </div>
        </div>
    </ng-container>


    <!-- Document preview mode -->
    <ng-container *ngIf="previewMode">
        <!-- Header -->
        <div class="relative w-full flex items-center justify-end px-8 sm:px-12">
            <div class="flex items-center justify-end max-w-3xl mt-2 mr-3">
                <button mat-icon-button [matTooltip]="'Close preview'" (click)="closePreview();" 
                    class="bg-accent-100 dark:bg-accent-700">
                    <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>
        </div>
      
        <!-- Document viewer -->
        <div class="mt-2 h-100">

                <ngx-extended-pdf-viewer
                    *ngIf="previewDoc.fileExt == '.pdf'"
                    [base64Src]="previewDoc?.src"
                    [height]="'80vh'" 
                    [useBrowserLocale]="true" 
                    [textLayer]="true" 
                    [showHandToolButton]="true">
                </ngx-extended-pdf-viewer>

                <!-- Image -->
                <div class="flex items-center"
                    *ngIf="['.png', '.jpg', '.jpeg', '.gif', '.tiff'].includes(previewDoc.fileExt)">
                    <div class="w-full relative flex flex-0 items-center justify-center mr-6 rounded overflow-hidden border">
                        <img
                            class="max-h-60 object-contain"
                            [alt]="'Document image'"
                            [src]="previewDoc?.src">
                        <button mat-icon-button class="absolute bottom-6 right-6 bg-white"
                         (click)="download(previewDoc.src, 'preview.png')">
                            <mat-icon>download</mat-icon>
                        </button>
                    </div>
                </div>
        </div>
    </ng-container>
</div>